In [35]:
import sqlite3 as db
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Date, Float, Integer, String

Base = declarative_base()

class Order(Base):
    __tablename__ = 'orders'
    
    order_id = Column(String, primary_key=True)
    date = Column(Date)
    symbol = Column(String)
    quantity = Column(Integer)
    price = Column(Float)
    
    def get_cost(self):
        return self.quantity*self.price

In [36]:
import datetime
order = Order(order_id='A0004', date=datetime.date.today(), symbol='MSFT', quantity=-1000, price=187.54)

In [37]:
order.get_cost()

-187540.0

In [38]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
connection = db.connect("my_database.sqlite")
cursor = connection.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS orders(
        order_id TEXT PRIMARY KEY,
        date TEXT,
        symbol TEXT,
        quantity INTEGER,
        price NUMBER)""")
cursor.execute("""INSERT INTO orders VALUES
        ('A0001', '2013-12-01', 'AAPL', 1000, 203.4)""")
connection.commit()
cursor.executemany("""INSERT INTO orders VALUES
    (?, ?, ?, ?, ?)""", orders)
connection.commit()
stock = 'MSFT'
cursor.execute("""SELECT *
    FROM orders
    WHERE symbol=?
    ORDER BY quantity""", (stock,))
for row in cursor:
    print row
engine = create_engine("sqlite:///my_database.sqlite")   # 相当于 connection
Session = sessionmaker(bind=engine) # 相当于 cursor
session = Session()

(u'A0002', u'2013-12-01', u'MSFT', 1500, 167.5)

In [7]:
db.paramstyle

'qmark'

In [39]:
session.add(order)
session.commit()
for row in engine.execute("SELECT * FROM orders"):
    print row

(u'A0001', u'2013-12-01', u'AAPL', 1000, 203.4)
(u'A0002', u'2013-12-01', u'MSFT', 1500, 167.5)
(u'A0003', u'2013-12-02', u'GOOG', 1500, 167.5)
(u'A0004', u'2018-05-28', u'MSFT', -1000, 187.54)

In [40]:
cursor.close()
connection.close()